/*Estilos del terrario */
h1{
    color:green;
    text-align: center;
    border: 3px;
    border-style: dashed;
    
 }
#left-container{
    width: 15%;
    height: 100%;
    left: 0%;
    top: 0%;
    position: absolute;
    background-color: rgb(0, 128, 117);
    border:3px;
    border-style: dashed;
    border-color: brown;
}

#right-container{
    width: 15%;
    height: 100%;
    right: 0%;
    top: 0%;
    position: absolute;
    background-color:rgb(0, 128, 117);
    border:3px;
    border-style: dashed;
    border-color:blueviolet;
}

.plant-holder {
    position: relative;
    height: 13%;
    left: -10px;
    border-style: dashed;
    border-color:crimson;
    
}

.plant{
 position: absolute;
 max-width: 150%;
 max-height: 150%;
 z-index: 2;

}